* {
    font-family: Circular, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}


.login-btn button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 40px;
    padding: 15px;
}

.login-btn button:hover {
    border-radius: 40px;
    background-color: #bce2d8;
}

#navbarNavAltMarkup {
    margin-left: 20%;
}